* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background-color: #c62828;
  color: #fff;
  border-radius: 25px;
  padding: 5px 20px 20px 20px;
}

header p {
  font-size: 18px;
}

.center {
  text-align: center;
}

main {
  margin-top: 20px;
}

#makanan .card-content,
#minuman .card-content {
  padding: 10px 30px 30px 30px;
}

#total .card-content {
  padding: 10px 30px 30px 30px;
}

.list {
  margin-top: 30px;
}

.button {
  background-color: #c62828;
}

.button:hover {
  background-color: #e57373;
}

.button-min {
  background-color: #9e9e9e;
}

.button-min:hover {
  background-color: #e0e0e0;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.btn-pesan {
  margin-top: 18px;
}

.linking {
  display: block;
  margin-top: 10px;
}

img {
  border-radius: 50%;
  margin-top: 20px;
}

.buttonGroup {
  text-align: center;
}

#isInClientMessage {
  font-style: italic;
  font-size: 14px;
}

.hidden {
  display: none;
}

footer {
  background-color: #c62828;
  color: #fff;
  border-radius: 25px;
  padding: 10px;
}

footer.material-icons{
  position: relative;
  bottom: -5px;
}

@media (max-device-width: 600px) {
  header h2 {
    font-size: 36px;
  }
}
